.well
  %p
    You have commented on the #{@movie.title}. Have you changed your mind? Delete
    your previous comment so you can add new opinion.
  = link_to "Delete my comment", movie_comment_path(@movie, @comment),
    method: :delete, class: "btn - btn-danger",
    data: { confirmation: "Are you sure?"}
