.well
  %p Please login or register in order to comment
  = link_to 'Login', new_user_session_path, class: "btn btn-success"
  = link_to 'Register', new_user_registration_path, class: "btn btn-primary"
